.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  height: 50vh;
  margin: 0;
  grid-gap: 10px;
}

.box-1 {
  border: 2px solid lightcoral;
  padding: 10px;
  border-radius: 10px;
  grid-column-start: 2;
  grid-column-end: 5;
}
.box-2 {
  border: 2px solid lightcoral;
  padding: 10px;
  border-radius: 10px;
  grid-column-start: 5;
  grid-column-end: 12;
}
