@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;900;800&display=swap");  

/* ####################Default CSS Reset#################### */

*{
    margin:0;
    padding:0;
    /* to contain within specific width  */
    box-sizing:border-box;
}

/* #################### Html Element Styling #################### */

html{
    /* font-size: 10px; */
    /* 16px --> 100 % */
    /* 10px --> (100/16)*100 */
    font-size: 62.5%;
}

body{
    font-family:"Poppins", sans-serif;
    line-height: 1.7;
}

ul li {
    list-style: none;
}

a{
    font-size: 1.6rem;
    text-decoration:none;
}

p,li{
    
    font-size: 1.6rem;
    margin-bottom: 0.5em;
    letter-spacing: 0.15em;
}

h1,h2,h3{
    margin-bottom:0.5em ;
    letter-spacing: 0.15em;
    font-weight: 500;
}
/*  ####################  Utility Classes.####################
 Web Theme:
 Utility Classes(pre-made classes for multi use):

*/

/* Container  Utility Class */
.container{
    max-width:1200px ;
    width: 90%;
    margin: 0 auto;
}

.lg-heading{
    font-size:3.5rem ;
}
.md-heading{
    font-size: 2.2rem;
}
.text-red{
    color :#e63946;
}
.text-light{
     color: #f4f4f4;
}
.text-black{

    color: #333333;
}
.text-gray{
    color : #555555;
}
.bg-dark{
    background-color: #263238;
}

/* btn Utility Classes */
.btn{
    display: inline-block;
    padding: 0.5em 1.5em; /*half of fontsize will be padding so better use of em */
    text-transform: uppercase;
    font-weight: 500;
    margin:0.5em 0;
}
.btn-primary{
    background-color: #fff;
    border-radius: 10rem; 
}

.btn-secondary{
    border: 0.5px solid #e63946;
    border-radius: 1.5em;
    color: #e63946;
}
/* Button Hover --> Styling */
.btn-primary:hover{
    background-color: #dddddd;
}
.btn-secondary:hover{
    background-color: #eed9d7d2;
}





/* ######### Header Styling ##########*/

/*  ##Setting Background Image ##*/

.header{
    position: relative;
    height: 95vh; /* mostly 100vh personal preference visitor can see below site also */
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('../img/header-image.jpg');
    background-position:center;
    background-size:cover; 
    background-repeat: no-repeat;
}

h1{
    color: white;
    font-weight: 400;
}

/* #################### Styling Nav Bar ################# */


/* .header .logo,
.header .navbar a{
    color: white;
} */

.navbar .logo{
    float: left;
    /* font-size: 3.5rem; */

}
.navbar .nav-items{
    float: right;
    margin-top: 1rem;
}
.navbar{
    padding: 1rem;
}
.navbar .nav-item{
     display: inline-block;
     padding: 1rem;
     text-transform: uppercase;
}

.navbar a:link,
.navbar a:visited{
    color: #f4f4f4;
}

/* Link Hover of Navbar */
.navbar a{
    padding-bottom: 0.3rem;
}
.navbar a:hover{
    border-bottom: 1px solid #fff;
}

/* without clear fix class using pseudo class to fix float */
.navbar::after{
    content: '';
    display: block;
    clear: both;
}

/* ############# Header Content Styling #############  */


/* Center Things in CSS. */

.header-content{
   /* border: 0.5px solid white; */
    position: absolute;
    text-align: center;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2));
}
.header-content h1{
    text-transform: uppercase;
    font-weight:700;
    
}

.header-content p{
    text-transform: uppercase;
}

/*   ###########  ShowCase Section Styling ##########  */

.showcase{
    background: #dddddd;
    padding: 10rem;
}
/*  Box-Shadow -->  */

.row{
    height: 350px;
    background: #ffffff;
    /* border: 1px red solid; */
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.311);
}
.row1{
    margin-bottom: 10rem;
}

.row1 .img-box,
.row2 .text-box{
    float:left;
    width: 50%;    
}


.row2 .img-box,
.row1 .text-box{
    float:right;
    width: 50%;
}


.row .img-box{
    height: 100%;
    /* border: 6px greenyellow solid; */

 }

 .row .text-box{
    /* border: 6px blue solid; */
    padding: 3rem;

 }
/* adding Image in SHowcase */
/* Main Aspect Ratio --> Object-fit */
 .row .img-box img{
    display: inline-block;
    width: 100%;
    height:100%;
    object-fit: cover;
 }

 .row::after{
    content: "";
    display: block;
    clear:both;
}

/* ######### Styling Features Section  #############*/

.features{
    padding: 10rem 0;
}
.box-wrapper{
    box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.528);

}
.box{
    width:33.333333%;
    float: left;   
    padding: 2rem;
    text-align: center;

}
.box-1,
.box-3{
    background-color: #263238cc;
    color : #fff;
}
/*

https://cssgradient.io/gradient-backgrounds/ 
  User for Linear Gradient Backgrounds
*/
.box-2{
    background:linear-gradient(25deg,#d64c7f,#ee4758 50%);
    color : #fff;

}
.box-wrapper::after{
    content: "";
    display: block;
    clear: both;
}

/* ############# Add Icons To Features  ################ */

/*  Font Awesome website */
/* 
Copy kit code 
<script src="https://kit.fontawesome.com/3aaaedeb41.js" crossorigin="anonymous"></script>

or 

cdnjs.com
Font Awesome
https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css

*/


/* ###### footer styling ####### */

.footer{
    background: #263238;
    color: #f4f4f4;
    padding: 2rem;
    text-align: center;
}
.social-media-links i {
    margin: 2rem;
}

/* ########## Media Query Pratice : Making Website Responsive 1 ######### */
/* Media Queries on Home page ----------- > Header */

@media (max-width : 500px) 
{
    html{
        font-size: 50%;
    }    

    .navbar .nav-items,
    .navbar .logo {
        float: none;
        display: block;
        width: 100%;
        text-align: center;
    }
    .header-content .main-heading{
        display: none; 
    }
    .row{
        height:auto;
        width: 100%;
    }
    .row .img-box,
    .row .text-box{
        float: none;
        width: 100%;
        text-align: center;
    }
    .row .text-box h2{
        font-size: 150%;
        text-align: center;
    }
    .row .text-box p{
        font-size: 150%;
    }
    .features .box{
        float:none;
        width: 100%;
        text-align: center;
        box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.528);

    }
    .features .box-2,
    .features .box-3{
        margin-top: 5rem;

    }

    .box-wrapper{
        box-shadow: none;

    }

}

/* Part 2 501 above */

@media (min-width:501px) and (max-width:768px)
{
    html{
        font-size: 50%;
    }  
    /* added  rest all same*/  
    p{
        font-size: 1.8rem;
    }
    .navbar .nav-items,
    .navbar .logo {
        float: none;
        display: block;
        width: 100%;
        text-align: center;
    }
    /* .header-content .main-heading{
        display: none; 
    } */
    .row{
        height:auto;
        width: 100%;
    }
    .row .img-box,
    .row .text-box{
        float: none;
        width: 100%;
        text-align: center;
    }
    .row .text-box h2{
        font-size: 150%;
        text-align: center;
    }
    .row .text-box p{
        font-size: 150%;
    }
    .features .box{
        float:none;
        width: 100%;
        text-align: center;
        box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.528);

    }
    .features .box-2,
    .features .box-3{
        margin-top: 5rem;

    }

    .box-wrapper{
        box-shadow: none;

    }


}

/* Part 3 768 above and below 1200 */

@media (min-width:768px) and (max-width:1200px)
{  
    html{
        font-size: 56.25%;/*9px*/
    }
    
    .row .text-box h2{
        font-size: 150%;
        text-align: center;
    }
    .row .text-box p{
        font-size: 150%;
    }
}

/* Part 3 768 above and below 1200 */

@media (orientation:landscape) and (max-height:500px){

    .header{
        height: 90vmax;
    }
}