@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;700&family=Roboto:wght@400;500;700;900&display=swap');

body{
    font-family:"Poppins", sans-serif;
}

.box-wrapper{
    border: 10px solid #222;
    display: flex;
}
.box{
    border: 1px solid #666;

}
.box-1{
  background: lightblue;
}
.box-2{
    background: lightcoral;
  }
.box-3{
    background: lightcyan;
  }
.box-4{
    background: lightgoldenrodyellow;
  }
.box-5{
    background: lightsalmon;
}