@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;900;800&display=swap");

body{
    font-family: "Poppins", sans-serif;
}

p{
    /* default : 400 :normal */
    font-weight: normal;
}

h1{
    /* default : 700 : bold*/
    font-weight: 200;
}

/*  Text Related Properties */
h1{
    font-size: 35px;
    text-decoration: underline solid #444;
}


p{
    font-size: 20px;
    line-height: 30px;
    word-spacing: 2px;
    letter-spacing: 2px;
}